{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block body %}

<div class="b-example-divider"></div>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Soliloquy on Crypto</h1>
      <div class="my-5">
        <p class="lead">The birth of original cryptocurrency in 2008 in the midst of Great Financial Crisis was a bona
          fide attempt to fill the void left by bond vigilantes as the central banks tossed aside formulaic constraints
          that tied monetary expansion to GDP, inflation, and on. Hindsight 20/20 for me, Bitcoin has propelled the
          evolution of blockchain technology, the mothership for decentralized, distributed shared ledgers that could
          possibly have been born only in the Internet. So, why did Stonk investors miss it? I mean the Internet, born
          in
          the 90s, was joined at hip with Wall Street and we had our dot com bubble but aren’t cryptos living and
          breathing in a universe separate from Stonks.
        </p>
        <p class="lead">
          The private market has become robust over the past couple of decades and companies in general have been
          staying
          private a lot longer before their IPO since the dot com bubble — 10+ years in post dot com world vs. 4 years
          pre
          dot com. Venture capital investments have grown ~5x in the last decade in the US to $150b annual run rate .
          While crypto companies have attracted greater VC interest in the recent years, crypto companies in their
          initial
          years had found an alternate source of financing, ICOs (initial coin offerings), with Ethereum leading the
          charge in 2014 and the surge in subsequent ICO offerings mostly avoided regulatory scrutiny until 2017.
        </p>
        <p class="lead">
          The investment menu in cryptoeconomy has expanded well beyond cryptocurrencies to crypto applications and
          enablers — New stablecoin offerings tied to fiat currencies and mushrooming exotic cryptocurrencies are now
          catching up with wild dodgecoins and other crazy coins inscribed on millions of tweets a day. The art,
          collectibles and sport NFTs have become an alternative trading sport among crypto fans with over $2b NFTs
          traded
          in 2021 — there are clear pockets of irrational exuberance in NFTs and cryptocurrencies in a world inundated
          with liquidity and low interest rates. Beyond the frenzied trading mania, the underlying technology has
          demonstrable disruptive application for the enterprise world as much as consumer and retail for the coming
          decades. A host of new blockchain protocols and applications based on smart contracts driven lending, trading
          etc. (popularly known as DeFi) have emerged to become a $150b market with real B2B, B2C applications — an area
          that seems set to continue disrupting finance sector.
        </p>
        <p class="lead">
          I am fascinated by these applications that resemble early Internet days with decades of disruptive growth
          ahead
          of them, however, the $2 trillion cryptocurrency market is less appealing to me. As Stonk investor, You would
          want to know how to value cryptos, if you are not confused between the definition of price and value, based on
          the hypothesis that value is what you get for the price that you pay. The general logic of discount free cash
          flows from the Stonk world is not an easily transportable feature to cryptos and neither is the economics
          concepts of purchasing power parity — crypto pricing at best resembles commodity pricing, with marginal demand
          or supply dictating its price. It makes sense for the tug of war between the marginal mining cost on the
          supply
          side and the loudest voice on twitter on the demand side to dictate price discovery of cryptocurrencies.
        </p>
        <p class="lead">
          There are a few clear uncertainties for cryptocurrencies over the next decade. Regulations in the US and
          globally are bound to tighten over times because as it is likely a matter of when not if for regulators to
          enforce AML/ KYC and of course, the tax authorities are constantly updating guidelines on capital gains
          treatment of crypto assets and mining. The other unknown is the threat to one way mathematical functions — the
          primary line of defense for blockchain security — from Quantum Computing or other powerful computing power
          innovations. It is very much possible that blockchain protocols can upgrade themselves to replace digital
          signatures with quantum cryptography and similar innovations to stay relevant and secure but it is a risk at
          this point. I am going to skip the debates around energy consumption, majority attack, and double-spending
          among
          many other contemporary debates.
        </p>
        <p class="lead">
          Overall, the path to adoption as a store of value for cryptocurrencies has mostly been proven with the
          exception
          of wild swings in daily prices but most enthusiasts and evangelists believe and profess that the digital gold
          status is not far away. However, the currency status could not possibly be achieved without adoption for
          payments and transactions where the limitation of Bitcoin, for example, is the limited supply that would
          definitely limit the velocity of transactions and could continue be a hurdle to broader adoption. Conversely,
          the unlimited supply of other currencies such as Ether, even with annual supply constraints and decreasing
          supply growth, bear no different risk than posed by unlimited central bank monetary supply. Long term trust is
          the most key factor behind the adoption of any currency that could only transpire with passage of time.
        </p>
        <p class="lead">
          There are not much choices in the Stonk market for cryptoeconomy companies. Coindesk, the first crypto
          exchange
          to be listed, cleared $150b+ in trading volume last year — a tiny fraction of the overall $10+ trillion
          trading
          volume in 2020. MicroStrategy market cap is driven by its bitcoin holdings but it is not really a crypto
          company. In terms of indirect exposures, payment companies such as Square and Paypal have supported
          cryptocurrencies but it is a very small part of their overall business. Chip makers such as Nvidia and AMD
          have
          enabled crypto miners and made some windfall profits in the past but crypto is no more than 10–15% of their
          business even in the best year. Retail acceptance of crypto is growing and Tesla began accepting Bitcoin but
          has
          flip-flopped on its stance a bit while largely remaining supportive — however, there is not many choices
          there.
          So far, crypto companies didn’t need much help from the Stonk markets to tap capital but there could be other
          possible listings to follow after Coindesk direct listing but Stonk investors have limited choices in crypto
          for
          now.</p>
      </div>
      <p class="lead"> Written by: Amit Kumar</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><a
            href="https://medium.com/investment-memos-and-memes/soliloquy-on-crypto-6195d7f48642">.</a>Credits</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded-lg-3" src="/static/blog.png" alt="" width="720">
    </div>
  </div>
</div>
</div>

{% endblock body %}