{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}

{% block body %} 

<div class="container col-xl-10 col-xxl-8 px-4 py-0">
  <div class="row align-items-center g-5 py-4">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Sign-up for awesomeness!! </h1>
      <p class="col-lg-10 fs-4" > Investments made easy.</p>
    </div>
    <div class="col-10 mx-auto col-lg-5">
      <form method="post" action="/login" class="p-5 border rounded-3 bg-light">
      {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="username" class="form-control" id="floatingInput" name="username" placeholder="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" name="checkbox"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign-up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign-up, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>

{% endblock body %}